<!DOCTYPE html>
<html>
  <head>
    <title>JumpStartMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//db.onlinewebfonts.com/c/4cffa20a560405339ae5f98d0b62853f?family=RNS++BARUTA+BLACK" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
